<% provide(:title,'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
</div>
</div>



